*{
	box-sizing:border-box;
}
body{
	font-family:segoe UI historic, helvetica,arial,sans-serif;
	 background-image:url('img/natty-2.jpg');
	 background-size:cover;
	 background-repeat:no-repeat;
	 height:60vh;
	 background-attachment:fixed;
	 display:block;
}
.main-container{
	display:;
	justify-content:center;
	align-items:center;
	min-height:;
	margin:1rem;
	margin-left:25%;
	border-radius:.5rem;
	width:700px;
	max-width:90%;
	background:skyblue;
	margin-bottom:-15%;
}
.quote-display{
	margin-bottom:1rem;
	font-size:2rem;
	padding-left:;
	margin-left:calc(2rem - 1rem);
	margin-right:calc(1rem + 2rem);
	
}
.main-container,.quote-input{
	font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
	margin-top:5%;
	padding-left:1%;
	padding-right:1%;
}
.quote-input{
	background-color:transparent;
	border-radius:2px solid yellow;
	outline:none;
	width:100%;
	height:8rem;
	margin:auto;
	resize:none;
	padding:.5rem 1rem;
	font-size:2rem;
	border-radius:.5rem;
}
.quote-input:focus{
	border-color:black;
}
.container{
		margin:280px 0 0 180px;
		width:;
}
.row-one,.row-two,.row-three,.row-four,.row-five{
	width:100%;
	margin:10px 0 0 0;
}
button{
	color:black;
	width:55px;
	height:55px;
	border:none;
	background:pink;
	box-shadow:5px 5px 10px black, -5px -5px -10px white; 
	font-size:20px;
	margin-left:5px;
	outline:none;
	font-family:Arial,Helvetica,sans-serif;
	border-radius:20%;
}
button:active{
	box-shadow:1px 1px 2px white, -1px -1px 2px black;
}
#key-backspace{
	width:115px;
	border-radius:10px;
}
#key-tab{
	width:85px;
	border-radius:10px;
}
#key-backslash{
	width:85px;
	border-radius:10px;
}
#key-caps{
	width:100px;
	border-radius:10px;
}
#key-enter{
	width:125px;
	border-radius:10px;
}
#key-shift{
	width:150px;
	border-radius:10px;
	
}
#key-control,#key-windows,#key-alt{
	width:85px;
	border-radius:10px;
}
#key-space{
	width:400px;
	border-radius:10px;
}

.correct{
	color:green;
}
.incorrect{
	color:red;
	text-decoration:underline;
}

.active{
	color:red;	
}

.notActive{
	color:black
}
@media(max-width:1200px){
	body{	
		display:block;
	}
 .row-one,.row-two,.row-three,.row-four,.row-five{
	width:100%;
	margin:8px 0 0 0;
	margin-left:;
}
.container{
		margin:170px 5% -15px 50px;
		width:90%;
		margin-left:10%;

}
button{
	color:black;
	width:55px;
	height:55px;
	border:none;
	font-size:18px;
	margin-left:3px;
}
#key-shift{
	width:150px;
	border-radius:10px;
	
}
#key-space{
	width:370px;
	border-radius:10px;
}
#key-control,#key-windows,#key-alt{
	width:80px;
	border-radius:10px;
}
.main-container{
	display:;
	justify-content:center;
	align-items:center;
	min-height:;
	margin:1rem;
	margin-left:15%;
	border-radius:.5rem;
	width:680px;
	max-width:90%;
	margin-bottom:-10%;
}
}
@media(max-width:1024px){
	body{	
		display:block;
	}
 .row-one,.row-two,.row-three,.row-four,.row-five{
	width:100%;
	margin:8px 0 0 0;
	margin-left:;
}
.container{
		margin:120px 5% -15px 50px;
		width:90%;
		margin-bottom:%;

}
button{
	color:black;
	width:50px;
	height:50px;
	border:none;
	font-size:18px;
	margin-left:3px;
}
#key-shift{
	width:140px;
	border-radius:10px;
	
}
#key-space{
	width:360px;
	border-radius:10px;
}
#key-control,#key-windows,#key-alt{
	width:75px;
	border-radius:10px;
}
.main-container{
	display:;
	justify-content:center;
	align-items:center;
	min-height:;
	margin:1rem;
	margin-left:15%;
	border-radius:.5rem;
	width:680px;
	max-width:90%;
	margin-bottom:-10%;
}
}
@media(max-width:980px){
	body{	
		display:block;
	}
 .row-one,.row-two,.row-three,.row-four,.row-five{
	width:100%;
	margin:8px 0 0 0;
	margin-left:;
}
.container{
		margin:120px 5% -15px 45px;
		width:95%;
		margin-bottom:%;

}
button{
	color:black;
	width:40px;
	height:40px;
	border:none;
	font-size:18px;
	margin-left:3px;
}
#key-shift{
	width:125px;
	border-radius:10px;
	
}
#key-space{
	width:320px;
	border-radius:10px;
}
#key-backspace{
	width:100px;
	border-radius:10px;
}
#key-tab{
	width:70px;
	border-radius:10px;
}
#key-backslash{
	width:70px;
	border-radius:10px;
}
#key-caps{
	width:75px;
	border-radius:10px;
}
#key-enter{
	width:105px;
	border-radius:10px;
}
#key-control,#key-windows,#key-alt{
	width:65px;
	border-radius:10px;
}
.main-container{
	display:;
	justify-content:center;
	align-items:center;
	min-height:;
	margin:1rem;
	margin-left:10%;
	border-radius:.5rem;
	width:650px;
	max-width:90%;
	margin-bottom:-10%;
}
}
@media(max-width:912px){
	body{	
		display:block;
	}
 .row-one,.row-two,.row-three,.row-four,.row-five{
	width:100%;
	margin:8px 0 0 0;
	margin-left:;
}
.container{
		margin:120px 5% -15px 45px;
		width:95%;
		margin-bottom:%;

}
button{
	color:black;
	width:40px;
	height:40px;
	border:none;
	font-size:18px;
	margin-left:3px;
}
#key-shift{
	width:125px;
	border-radius:10px;
	
}
#key-space{
	width:320px;
	border-radius:10px;
}
#key-backspace{
	width:100px;
	border-radius:10px;
}
#key-tab{
	width:70px;
	border-radius:10px;
}
#key-backslash{
	width:70px;
	border-radius:10px;
}
#key-caps{
	width:75px;
	border-radius:10px;
}
#key-enter{
	width:105px;
	border-radius:10px;
}
#key-control,#key-windows,#key-alt{
	width:65px;
	border-radius:10px;
}
.main-container{
	display:;
	justify-content:center;
	align-items:center;
	min-height:;
	margin:1rem;
	margin-left:10%;
	border-radius:.5rem;
	width:650px;
	max-width:90%;
	margin-bottom:-10%;
}
}